body{
    background: black;
}

div.web{
    position: absolute;
    color:#84e4fd;
    left:8%;
    top:14.5%;
    font-size: 320px;
    z-index: 1;
    text-shadow: 1px 0 1px #000, 
    0 1px 1px #000, 
    -1px 0 1px #000, 
    0 -1px 1px #000;
    font-family: 'FreeMono', monospace;
}   

div.web2{
    position: absolute;
    color:#84e4fd;
    font-size: 320px;
    bottom:35.6%;
    left:8.6%;
    z-index: 0;
    font-family: 'FreeMono', monospace;
}

div.design{
    position: absolute;
    left:8.2%;
    font-size: 150px;
    font-family: 'FreeMono', monospace;
    top:55%;
    color:#84e4fd;
    text-shadow: 1px 0 1px #000, 
    0 1px 1px #000, 
    -1px 0 1px #000, 
    0 -1px 1px #000;
    z-index: 1;
}

div.design2{
    position: absolute;
    left:8.8%;
    font-size: 150px;
    font-family: 'FreeMono', monospace;
    top:54.5%;
    color:#84e4fd;
    text-shadow: 1px 0 1px #000, 
    0 1px 1px #000, 
    -1px 0 1px #000, 
    0 -1px 1px #000;
}

div.kwadup{
    position: absolute;
    background-color: #8ae4ff;
    color: #84e4fd;
    width: 322px;
    height: 322px;
    left:55%;
    top:11%;
}

div.kwaddown{
    position: absolute;
    background-color: #8ae4ff;
    color: #84e4fd;
    width: 322px;
    height: 322px;
    left:76.2%;
    top:54.7%;
}

div.radright{
    position: absolute;
    background-color: #ffeafb;
    color: #ffeafb;
    width: 322px;
    height: 322px;
    top:11%;
    left:76.2%;
    border-top-right-radius: 100%;
}

div.radleft{
    position: absolute;
    background-color: #ffeafb;
    color: #ffeafb;
    width: 322px;
    height: 322px;
    left:55%;
    top:54.7%;
    border-bottom-left-radius: 100%;
}

.nav {
    position: absolute;
    }
    
    .menu{
        display: flex;
        padding-left: 0;
        margin-top: -0.6%;
        margin-bottom: 6%;
        width: 101.6%;
        z-index: 1;
        left:-1%;
        position: relative;
    }
    
    .menu li{
        width: 305px;
        list-style: none;
        position: relative;
    }
    
    .menu>li{
        background: #333333;
    }
    .menu>li>ul li{
        background: #2B98FF;
    }
    .menu>li>a{
        border-bottom: 3px solid #2B98FF;
    }
    
    .menu a {
        color: #fff;
        text-decoration: none;
        display: block;
        text-align: center;
        height: 40px;
        line-height: 40px;
        transition: all 0.8s;
        background: #333333;
    }
    
    .menu a:hover {
        background: #2B98FF;
        display: block;
    }
    
    .menu ul {
        position: absolute;
        left: 0;
        top: 100%;
        display: none;
        padding: 0;
    }
    
    .menu li:hover > ul {
        display: block;
    }
    
    .menu ul ul {
        display: none;
        top: 0;
        left: 305px;
    }
    .menu li{
        position: relative;
    }

    .menu a.main1{
        width: 305px;
    }

    .menu ul li ul li{
        top:100%;
    }

div.next{
    color:white;
    top:93%;
    left:50%;
    position: absolute;
    font-size: 50px;
}

div.content{
    /* background-color: gray; */
    background-color: #84e4fd;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 15%;
    width: 90%;
    height: 140%;
    top:120%;
    position: absolute;
    left:4.5%
}

div.end{
    background-color: #000;
    width: 1%;
    height: 1%;
    position: absolute;
    top:108%
}

div.maintitle{
    position: absolute;
    font-family: 'Andale Mono', monospace;
    color: white;
    font-size: 70px;
    text-shadow: 1px 0 1px #000, 
    0 1px 1px #000, 
    -1px 0 1px #000, 
    0 -1px 1px #000;
    left:19.5%;
    top: 5%;
}

.square0, .square1, .square2 {
    position: relative;
    border-radius: 10%;
    height: 150px;
    width: 150px;
    background-color: #2b98ff;
    box-shadow: 10px -10px 6px #000000;
}

div.imgleft{
    position: absolute;
    left: 8.3%;
    top: 25%;
}

div.imgcenter{
    position: absolute;
    left: 43%;
    top: 25%;
}

div.imgright{
    position: absolute;
    left: 79%;
    top: 25%;
}

div.titlel{
    position: absolute;
    font-family: 'Andale Mono', monospace;
    color: white;
    text-shadow: 1px 0 1px #000, 
    0 1px 1px #000, 
    -1px 0 1px #000, 
    0 -1px 1px #000;
    left: 3%;
    top: 45%;
    font-size: 30px;
}

div.titlec{
    position: absolute;
    font-family: 'Andale Mono', monospace;
    color: white;
    text-shadow: 1px 0 1px #000, 
    0 1px 1px #000, 
    -1px 0 1px #000, 
    0 -1px 1px #000;
    left: 35.5%;
    top: 45%;
    font-size: 30px;
}

div.titler{
    position: absolute;
    font-family: 'Andale Mono', monospace;
    color: white;
    text-shadow: 1px 0 1px #000, 
    0 1px 1px #000, 
    -1px 0 1px #000, 
    0 -1px 1px #000;
    left: 70%   ;
    top: 45%;
    font-size: 30px;
}

div.mainl{
    position: absolute;
    font-family: 'Andale Mono', monospace;
    color: white;
    text-shadow: 1px 0 1px #000, 
    0 1px 1px #000, 
    -1px 0 1px #000, 
    0 -1px 1px #000;
    left: 1.7%;
    top: 58%;
    font-size: 18px;
}

div.mainc{
    position: absolute;
    font-family: 'Andale Mono', monospace;
    color: white;
    text-shadow: 1px 0 1px #000, 
    0 1px 1px #000, 
    -1px 0 1px #000, 
    0 -1px 1px #000;
    left: 38%;
    top: 58%;
    font-size: 18px;
}

div.mainr{
    position: absolute;
    font-family: 'Andale Mono', monospace;
    color: white;
    text-shadow: 1px 0 1px #000, 
    0 1px 1px #000, 
    -1px 0 1px #000, 
    0 -1px 1px #000;
    left: 70%;
    top: 58%;
    font-size: 18px;
}

img.inim{
    position: absolute;
    left:25%;
    top:40%;
}