.flex-container{
    width: 90%;
    display: flex;
    list-style-type:none;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid blue;
    color: white;
    padding: 0;
    margin: 0;
}

.flex-container li{
    width: 20%;
    text-align: center;
    padding: 9px;
    border-right:white 1px solid ;
    background-color: coral;
}

.flex-container2{
    width: 45%;
    display: flex;
    list-style-type:none;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid blue;
    color: white;
    flex-wrap: wrap;
    margin: 0;
    padding: 1px 2px 10px;
}

.flex-container2 li{
    text-align: center;
    width: 32.777%;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-bottom:2px;
    background-color: coral;
}

.flex-container2 li:nth-of-type(2),.flex-container2 li:nth-of-type(5){
    margin-right: 2px;
    margin-left:2px;
}

a{
    text-decoration: none;
    color: white;
}