.container-1{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-color: dodgerblue;
    color: white;
}

.container-1 div{
    padding: 8px;
}

a{
    text-decoration: none;
    color: white;
}


@media only screen and (min-width: 501px) and (max-width: 800px)
{
    .col-mid-12{justify-content: space-around;}
}

@media only screen and (max-width: 500px)
{
    .container-1 {justify-content:center; text-align: center;}
    .container-1 > div {width: 100%; border: 1px solid black;}
}

@media only screen and (min-width: 501px) and (max-width: 800px)
{
    .container-1{justify-content: space-around;}
}